# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Build
build/
DerivedData/
*.o
*.d
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (미사용이어도 혹시 몰라 추가)
Pods/
Podfile.lock

# 환경변수 / API 키
*.env
Config.xcconfig
Secrets.swift
APIKeys.swift
GoogleService-Info.plist   # Firebase 설정 파일

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# 임시 파일
*.swp
*.swo
*~

# 테스트 결과
TestResults/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Workhue/Config.plistWorkhue/Config.plist
Config.plist
Config.plist
